@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Open+Sans&display=swap');

:root {
    --base-color: #ff4800;
    --float-color: #ff0080;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Bangers';
}

.page {
    background-color: aliceblue;
    font-size: 60px;
    display: flex;
    height:80px;
    justify-content:space-evenly;
    align-items: center;
    color:rgb(255, 81, 0);
    text-shadow: 2px 2px 3px rgb(0, 0, 0);
}

.heading {
    background-color: aliceblue;
    font-size: 40px;
    display: flex;
    width: 100%;
    height:80px;
    justify-content:space-evenly;
    align-items: center;
    color:rgb(255, 81, 0);
    text-shadow: 2px 2px 3px rgb(0, 0, 0);
}

.questions {
    height:fit-content
}

.flex-container {
    display: flex;
}

.score-number {
    margin-left: 10px;
    color: red;
}

.score {
    color: rgb(255, 94, 0);
}
.item {
    font-size: 2rem;
    width: 200px;
    height: 60px;
    background: #fff;
    color: rgb(255, 255, 255);
    display:inline-flex;
    align-items: center;
    justify-content: center;
    margin:10px;
    box-shadow: 1px 2px 3px rgba(0,0,0,0.2);
    transition: box-shadow 0.2s ease-in-out;
    border-radius: 10px;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
}

.item:hover {
    box-shadow: 1px 5px 10px rgba(0,0,0,0.5);
    background-color:rgb(0, 255, 13);
}

a {
    text-decoration: none;
    color: rgb(255, 72, 0);
    padding: 15px 60px;
}

.questions-container {
    width: 100%;
    background-color: aliceblue
}

.question {
    display: flex;
    font-family:Arial, Helvetica, sans-serif;
    color:rgb(37, 30, 77);
    font-size: 1.2rem;
    margin-top:20px;
    justify-content: space-between;
    
}

.question-heading {
    color:rgb(255, 81, 0);
    font-family: 'Bangers';
    font-size: 3rem;
    margin:10px 100px;
    text-shadow: 2px 2px 3px #140101;
}

h2 {
    margin:5px 50px;
}

.check {
    width: 50px;
    visibility: hidden;
    margin-left: -8px;
    margin-bottom: -10px;
   }

.next {
    font-size: 2rem;
    width: 200px;
    height: 60px;
    background: #fff;
    color: rgb(255, 255, 255);
    display:inline-flex;
    align-items: center;
    justify-content: center;
    margin-left: 220px;
    box-shadow: 1px 2px 3px rgba(0,0,0,0.2);
    transition: box-shadow 0.2s ease-in-out;
    border-radius: 10px;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
}

.next:hover {
    box-shadow: 1px 5px 10px rgba(0,0,0,0.5);
    background-color:rgb(0, 255, 13);
}

.video-style {
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    background-color: #ff3c01;
    color: #fff;
    width:auto;
    height: 965px;
    justify-content:flex-start;
    align-items: center;
    text-shadow: 5px 5px 10px rgb(0, 0, 0);
}

video {
    border-radius: 10px;
    border: solid 1rem #ffd901;
}

.video-link {
        font-family: 'Bangers';
        font-size: 2rem;
        width: 200px;
        height: 40px;
        background: #fff;
        color: rgb(255, 255, 255);
        display:inline-flex;
        align-items: center;
        justify-content: center;
        margin-left: 430px;
        box-shadow: 1px 2px 3px rgba(0,0,0,0.2);
        transition: box-shadow 0.2s ease-in-out;
        border-radius: 10px;
        text-shadow: 1px 1px 1px rgb(0, 0, 0);
    }
    
    .video-link:hover {
        box-shadow: 1px 5px 10px rgba(0,0,0,0.5);
        background-color:rgb(0, 255, 13);
}

.back-link {
    font-family: 'Bangers';
    font-size: 2rem;
    width: 300px;
    height: 60px;
    background: #fff;
    color: rgb(255, 255, 255);
    display:inline-flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    box-shadow: 1px 2px 3px rgba(0,0,0,0.2);
    transition: box-shadow 0.2s ease-in-out;
    border-radius: 10px;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
}

.back-link:hover {
    box-shadow: 1px 5px 10px rgba(0,0,0,0.5);
    background-color:rgb(0, 255, 13);
}
.words {
    font-size: 2rem;
    font-weight: bold;
    color: #8c06b4;
}

.field-group{
    width: 800px;
    position: relative;
    padding-top: 30px;
    text-shadow: 2px 2px 3px rgb(0, 0, 0);
}
.input-field{
    width: 100%;
    outline: 0;
    border: 0;
    border-bottom: 2px solid #999999;
    padding: 0 0;
    background: transparent;
    font-size: 1.3em;
    color: #1a036e;
    transition: 0.3s ease; 
}

.input-label{
    font-family: 'Bangers';
    display: block;
    position: absolute;
    top: 0;
    font-size: 2rem;
    font-weight: 800;
    color: var(--base-color);
    
    transition: 0.3s ease;
}

.input-field::placeholder{
    color: transparent;
}

.input-field:placeholder-shown ~ .input-label{
    font-size: 2rem;
    top: 40px;
}
.input-field:focus{
    border-image: linear-gradient(to right, #0400ff, #00e1ff);
    border-image-slice: 1;
}
.input-field:focus ~ .input-label{
    display: block;
    position: absolute;
    top: 0;
    font-size: 2.3rem;
    font-weight: 800;
    color: var(--float-color)
}

/*Mobile*/
@media(max-width: 500px) {
    .navbar {
        height: 110px;
    }

    .navbar .flex {
        flex-direction: column;
    }

    .navbar ul {
        padding: 10px;
        background-color: rgba(122,122,122,0.1);
    }

    .page {
        font-size: 30px;
    }

    .heading {
        font-size: 20px;
        text-shadow: 1px 1px 2px rgb(0, 0, 0);
    }

    .question {
        display: flex;
        font-family:Arial, Helvetica, sans-serif;
        color:rgb(37, 30, 77);
        font-size: 1rem;
        margin-top: 0px;   
    }

    h2 {
        margin-left: 10px;
    }

    .words {
        font-size: 1rem;
        font-weight: bold;
        color: #8c06b4;
    }
    
    .field-group{
        width: 300px;
        position: relative;
        padding-top: 20px;
        text-shadow: 2px 2px 3px rgb(0, 0, 0);
    }
    .input-field{
        width: 100%;
        outline: 0;
        border: 0;
        border-bottom: 2px solid #999999;
        padding: 0 0;
        background: transparent;
        font-size: 1em;
        color: #1a036e;
        transition: 0.3s ease; 
    }
    
    .input-label{
        display: block;
        position: absolute;
        top: 0;
        font-size: 1em;
        font-weight: 800;
        color: var(--base-color);
        text-transform: uppercase;
        transition: 0.3s ease;
    }
    
    .input-field::placeholder{
        color: transparent;
    }
    
    .input-field:placeholder-shown ~ .input-label{
        font-size: 1em;
        top: 40px;
    }
    .input-field:focus{
        border-image: linear-gradient(to right, #0400ff, #00e1ff);
        border-image-slice: 1;
    }
    .input-field:focus ~ .input-label{
        display: block;
        position: absolute;
        top: 0;
        font-size: 1em;
        font-weight: 800;
        color: var(--float-color)
    }
}


    /*Tablets and under*/
    @media(max-width: 768px) {
        .navbar {
            height: 110px;
        }
    
        .navbar .flex {
            flex-direction: column;
        }
    
        .navbar ul {
            padding: 10px;
            background-color: rgba(122,122,122,0.1);
        }
    
        .page {
            font-size: 40px;
        }

        .heading {
            font-size: 25px;
            text-shadow: 1px 1px 2px rgb(0, 0, 0);
        }
    
        .question {
            display: flex;
            font-family:Arial, Helvetica, sans-serif;
            color:rgb(37, 30, 77);
            font-size: 1rem;
            margin-top: 20px;
            
        }

        h2 {
            margin-left:  10px;
        }
    
        .words {
            font-size: 2rem;
            font-weight: bold;
            color: #8c06b4;
        }
        
        .field-group{
            width: 400px;
            position: relative;
            padding-top: 40px;
            text-shadow: 1px 1px 2px rgb(0, 0, 0);
        }
        .input-field{
            width: 100%;
            outline: 0;
            border: 0;
            border-bottom: 2px solid #999999;
            padding: 0 0;
            background: transparent;
            font-size: 1.2em;
            color: #1a036e;
            transition: 0.3s ease; 
        }
        
        .input-label{
            display: block;
            position: absolute;
            top: 10px;
            font-size: 1.2em;
            font-weight: 800;
            color: var(--base-color);
            text-transform: uppercase;
            transition: 0.3s ease;
        }
        
        .input-field::placeholder{
            color: transparent;
        }
        
        .input-field:placeholder-shown ~ .input-label{
            font-size: 1.2em;
            top: 40px;
        }
        .input-field:focus{
            border-image: linear-gradient(to right, #0400ff, #00e1ff);
            border-image-slice: 1;
        }
        .input-field:focus ~ .input-label{
            display: block;
            position: absolute;
            top: 0;
            font-size: 1.4em;
            font-weight: 800;
            color: var(--float-color)
        }
    }

